section.services-pay#arrears
    .inner-container.services-pay-container.contrary-container
        .services-pay-wrapper.contrary-wrapper
            h2.services-pay-heading.arrears-heading.triangle-down Судебные задолженности
            .services-pay-dopwrapper
                p.services-pay-descr Для поиска начислений в ГИС ГМП укажите документы: паспорт РФ, ИНН, СНИЛС или номер Исполнительного производства.
                p.services-pay-descr.descr-with-margin Вы можете указать реквизиты платежа самостоятельно, заполнив форму.
                h3.services-pay-warning Удобно!
                p.services-pay-descr Судебные задолженности можно погасить как сразу, так и по частям, комфортными для вас платежами. Информацию о совершенных платежах сохраняйте в Личном кабинете.
        img(src="../img/arrears-img.png", alt="Картинка")