footer.footer
    .container.footer-container
        .footer__copyright
            p.footer__copyright-years © 2012 – 2020
            p.footer__copyright-title ООО «Название компании»
        img.footer-logo(src="../img/footer-logo.png", alt="Логотип")
