header.header
	.container.header-container
		.header__burger
			span.header__burger-line.line--1
			span.header__burger-line.line--2
			span.header__burger-line.line--3
		img.header-logo(src="../img/header-logo.svg", alt="Логотип сайта")
		.header-help