.menu-container
    .menu.menu-desktop
        .menu-wrapper
            h3.menu-heading Личный кабинет
            p.menu__item.item-with-margin
                a.menu__item-link.link-modal(href="") Вход в Личный кабинет
            h3.menu-heading Как это работает
            p.menu__item 
                a.menu__item-link(href="#") Условия использования сервиса
            p.menu__item
                a.menu__item-link(href="#") Способы оплаты
            p.menu__item
                a.menu__item-link(href="#") Часто задаваемые вопросы
            p.menu__item
                a.menu__item-link(href="#") Служба поддержки
