section.navigation 
    .inner-container 
        h2.navigation-heading Здесь можно оплатить
        h2.navigation-mob-heading Узнайте, как оплатить
        nav.navigation-block
            ul.navigation__list 
                li.navigation__list-item.list__item
                    a.list__item-link(href="#fines") Штрафы ГИБДД
                li.navigation__list-item.list__item
                    a.list__item-link(href="#arrears") Судебные задолженности
                li.navigation__list-item.list__item
                    a.list__item-link(href="#taxes") Налоги
                li.navigation__list-item.list__item
                    a.list__item-link(href="#registry") Услуги Росреестра
                li.navigation__list-item.list__item и другие услуги