section.partners
    .inner-container 
        h2.partners-heading С нами работают
        ul.partners__list
            li.partners__list-item.list--item1 Партнёр 1
            li.partners__list-item.list--item2 Компания-партнер с длинным названием
            li.partners__list-item.list--item3 Партнёр 3
            li.partners__list-item.list--item4 Название партнёра 4
            li.partners__list-item.list--item5 Компания-партнёра 5
            li.partners__list-item.list--item6 Партнер 6 с длинным названием
