section.services-pay#registry.registry
    .inner-container.services-pay-container.contrary-container
        .services-pay-wrapper.contrary-wrapper
            h2.services-pay-heading.registry-heading.triangle-down Услуги Росреестра
            .services-pay-dopwrapper
                p.services-pay-descr.descr-with-margin В поисковой строке укажите Код платежа, который был отправлен вам на почтовый ящик, указанный при подаче запроса в Росреестре.
                h3.services-pay-warning Нет кода?
                p.services-pay-descr Если у вас ещё нет кода платежа, перейдите на сайт <a class="services-pay-link" href="#">rosreestr.ru</a> и сформируйте запрос на оплату электронных услуг Росреестра.
        img(src="../img/registry-img.png", alt="Картинка")