section.search
    .inner-container.search-container
        h1.visually-hidden Оплата штрафов, налогов и другие услуги
        h2.search-heading Поиск начислений
        .search-wrapper 
            input.search-input(type="search" name="search" placeholder="Введите данные для поиска")
            button.search-btn Найти
        p.search-notification Чем больше параметров введено, тем полнее результаты поиска