section.services-pay#taxes
    .inner-container.services-pay-container
        .services-pay-wrapper
            h2.services-pay-heading.taxes-heading.triangle-down Налоги
            .services-pay-dopwrapper
                p.services-pay-descr.descr-with-margin Для поиска начислений по налогам в ГИС ГМП укажите ИНН или Индекс налогового документа, если у вас на руках есть квитанция.
                h3.services-pay-warning Важно!
                p.services-pay-descr Согласно законодательству РФ вы не можете оплачивать налоги за других физических лиц. Принимаются только платежи физических лиц.
        img(src="../img/taxes-img.png", alt="Картинка")