//VARIABLES FOR FRAMEWORK

//FONT SIZE
$h1size: 60px;
$h2size: 36px;
$h3size: 24px;
$h4size: 20px;
$h5size: 14px;
$h6size: 12px;

//COLOUR
$bg_and_text: #fff;
$text_heading: #000;
$dark_red: #D30531;
$dark_blue: #004685;
$light_blue: #569DDC;