html(lang="ru")
    include chunks/head.pug
    body
        include chunks/header.pug
        include chunks/menu.pug
        include chunks/help.pug
        include chunks/search.pug
        include chunks/navigation.pug
        include chunks/fines.pug
        include chunks/arrears.pug
        include chunks/taxes.pug
        include chunks/registry.pug
        include chunks/partners.pug
        include chunks/footer.pug
        include chunks/modal.pug
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="./js/app.min.js")